useDynLib(dacomp, .registration=TRUE)
exportPattern("dacomp.validate_references")
exportPattern("dacomp.test")
exportPattern("dacomp.plot_reference_scores")
exportPattern("dacomp.select_references")
exportPattern("dacomp.generate_example_dataset")
exportPattern("DACOMP.POSSIBLE.TEST.NAMES")
exportPattern("DACOMP.TEST.NAME.")

importFrom(Rcpp, evalCpp)
S3method(print,dacomp.result.object)
S3method(print,dacomp.reference.selection.object)

