useDynLib(dacomp, .registration=TRUE)
exportPattern("dacomp.")
exportPattern("DACOMP.")
importFrom(Rcpp, evalCpp)
S3method(print,dacomp.result.object)
S3method(print,dacomp.reference.selection.object)
S3method(print,dacomp.reference.validation.result.object)
